<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatosLinq.Properties.Settings.AppMenuDiaConnectionString"
            connectionString="Data Source=.;Initial Catalog=AppMenuDia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DatosLinq.Properties.Settings.AppMenuDiaConnectionString1"
            connectionString="Data Source=AppMenuDia.mssql.somee.com;Initial Catalog=AppMenuDia;Persist Security Info=True;User ID=AppDistribuida_SQLLogin_1;Password=ar2lyeh69a"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>